/* Layout */

.wrapper {
  width: 100%;
}

.card-holder {
  max-width: 95rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}


/* Cards */

.card {
  border: 1px solid $middle-grey;
  box-sizing: border-box;
  flex: 1 0 25rem;
  height: 25rem;
  margin: 0.3rem;
  max-width: 100%;
  padding: 1.5rem;
}

img {
  max-height: 250px;
  max-width: 100%;
}

.post-body {
  margin: 1rem 0 0 0;
}


/* Contact card */

.contact-list {
  margin-top: 1.5rem;
  list-style-type: none;
}

.contact-list li {
  margin: 1rem 0 1rem 1rem;
  font-size: 16pt;
}

.contact-list a {
  margin: 0 0 0 0.5rem;
}

.contact-list li img {
  width: 1.2rem;
  display: inline;
}
